.mainWrapper {
  background-color: #f9f9f9;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 60px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 12px;
  width: 100%;
  max-width: 500px;
}

.productH1 {
  color: black;
  margin-bottom: 30px;
  text-align: center;
}

.description,
.author,
.title {
  border: none;
  border-radius: 6px;
  padding: 20px;
  padding-left: 20px;
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 14px;
}

.description {
  height: 200px;
}

.author,
.title {
  height: 50px;
}

.label {
  color: #838383;
  /*text-transform: uppercase;*/
  font-weight: 700;
  font-size: 16px;
}

.attachmentsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  margin: 10px 0;
}

.attachmentsList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 16px;
  row-gap: 16px;
  flex-wrap: wrap;
}

.attachmentWrapper {
  position: relative;
}

.attachment {
  background-size: cover;
  background-position: 50%;
  width: 100px;
  height: 100px;
  border-radius: 6px;
}

.closeButtonWrapper {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  z-index: 1000;
  background-color: #0f0f0f;
  border: 1px solid rgba(108, 108, 108, 0.3);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  width: 8px;
  height: 8px;
}

.addAttachment {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 6px 10px;
  transition: all 100ms ease-in-out;
  border: none;
  color: rgba(0, 0, 0, 0.616);
  cursor: pointer;
  font-weight: 900;
  font-size: 13px;
}

.addAttachment:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.checkboxWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox {
  appearance: none;
  background-color: #fff;
  margin: 0;
  margin-right: 10px;
  font: inherit;
  color: black;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #838383;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

.checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #a657f6;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked {
  border-color: #a657f6;
}

.checkbox:checked::before {
  transform: scale(1);
}

.checkboxLabel {
  color: #838383;
  font-weight: 600;
  font-size: 15px;
}

.submitButton {
  height: 50px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: #a657f6;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  font-weight: 700;
}

.submitButton:hover {
  background-color: #a757f6c1;
}

.featureSent {
  display: none;
  color: rgb(99, 99, 99);
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 30px;
  }

  .description {
    height: 140px;
  }
}
