.main {
  min-height: 100vh;
  font-family: var(--font-classic);
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 100px 60px 0 60px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.surHeader {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.07);
  padding: 7px 10px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: var(--font-mono);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(255, 179, 0);
  box-shadow: 0px 0px 8px 4px rgba(255, 179, 0, 0.16);
}

.header {
  max-width: 900px;
  text-align: center;
  font-size: 80px;
  line-height: 90px;
  font-weight: 900;
  margin-bottom: 30px;
}

.subHeader {
  font-size: 26px;
  line-height: 36px;
  color: #85899f;
  margin-bottom: 40px;
  max-width: 520px;
  text-align: center;
}

.heroScreenshot {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.heroScreenshotWrapper {
  position: relative;
  width: 100%;
  margin-top: 80px;
}

.heroScreenshotGlow {
  position: absolute;
  width: 80%;
  height: 200px;
  background-color: #a757f66f;
  z-index: -1;
  filter: blur(160px);
  -webkit-filter: blur(130px);
}
.heroScreenshotGlowTop {
  top: -70px;
  left: 10%;
}
.heroScreenshotGlowBottom {
  bottom: -200px;
  right: -70px;
  width: 500px;
  height: 400px;
}

.features {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h2 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.subtitle {
  font-size: 22px;
  margin-bottom: 30px;
  color: #85899f;
}

.featuresList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  row-gap: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.singleFeatureWrapper {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  row-gap: 16px;
}

.singleFeatureWrapper p {
  font-size: 26px;
  text-align: center;
}

.joinPopupWrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.608);
}

.joinPopupBackground {
  background-color: rgba(0, 0, 0, 0.608);
}

.joinPopup {
  background-color: #0f0f0f;
  border: 1px solid rgba(108, 108, 108, 0.3);
  padding: 50px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joinPopup h2 {
  margin-bottom: 40px;
}

.initialFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formSubmittedWrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  min-height: 300px;
}

.formSubmittedMessage {
  font-size: 20px;
}

.joinForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 12px;
  width: 500px;
}

.joinForm input {
  border: none;
  border-radius: 6px;
  padding: 20px;
  padding-left: 20px;
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 14px;
}

.submitButton {
  height: 50px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: #a657f6 !important;
  color: white !important;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  font-weight: 900;
  padding: 0 20px !important;
}

.submitButton:hover {
  background-color: #a757f6c1 !important;
}

.closeButton {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 60px 30px 0;
  }

  .header {
    font-size: 60px;
    line-height: 1.1em;
  }

  .subHeader {
    font-size: 22px;
    line-height: 1.2em;
  }

  .features {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .main h2 {
    font-size: 46px;
    line-height: 1.1em;
  }

  .singleFeatureWrapper {
    width: 50%;
  }

  .singleFeatureWrapper p {
    font-size: 20px;
  }

  .singleFeatureWrapper img {
    width: 30px;
    height: 30px;
  }

  .joinPopup {
    width: 80vw;
  }

  .joinPopup h2 {
    font-size: 38px;
  }

  .joinForm {
    width: 100%;
    max-width: 360px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 30px 20px 0;
  }

  .header {
    font-size: 40px;
  }

  .subHeader {
    font-size: 18px;
  }

  .main h2 {
    font-size: 38px;
  }

  .subtitle {
    font-size: 18px;
  }

  .singleFeatureWrapper {
    padding: 0 10px;
  }

  .singleFeatureWrapper p {
    font-size: 16px;
  }

  .singleFeatureWrapper img {
    width: 20px;
    height: 20px;
  }

  .joinPopup {
    padding: 50px 30px;
  }

  .joinPopup h2 {
    font-size: 30px;
    text-align: left;
  }

  .joinForm input {
    padding: 16px 20px;
  }

  .submitButton {
    height: 40px;
    padding: 0 20px !important;
  }
}
