.main {
  min-height: 100vh;
  font-family: var(--font-classic);
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 100px 60px 0 60px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  max-width: 900px;
  text-align: center;
  font-size: 80px;
  line-height: 90px;
  font-weight: 900;
  margin-bottom: 30px;
}

.subHeader {
  font-size: 26px;
  line-height: 36px;
  color: #85899f;
  margin-bottom: 40px;
  max-width: 520px;
  text-align: center;
}

.heroScreenshot {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.heroScreenshotWrapper {
  position: relative;
  width: 100%;
  margin-top: 80px;
}

.heroScreenshotGlow {
  position: absolute;
  width: 80%;
  height: 200px;
  background-color: #a757f66f;
  z-index: -1;
  filter: blur(160px);
}
.heroScreenshotGlowTop {
  top: -70px;
  left: 10%;
}
.heroScreenshotGlowBottom {
  bottom: -200px;
  right: -70px;
  width: 500px;
  height: 400px;
}

.features {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h2 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.subtitle {
  font-size: 22px;
  margin-bottom: 30px;
  color: #85899f;
}

.featuresList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  row-gap: 50px;
}

.singleFeatureWrapper {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  row-gap: 16px;
  /*background-color: #0f0f0f;
  border-radius: 10px;
  border: 1px solid rgba(108, 108, 108, 0.3);*/
}

.singleFeatureWrapper p {
  font-size: 26px;
  text-align: center;
}
